<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>react-kickstart</title>
    <meta name="description" content="just another react + webpack boilerplate">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <form id="auth_form">
      <input type="text" id="auth_id" name="id" placeholder="id" />
      <input type="password" id="auth_secret" name="secret" placeholder="secret" />
      <input type="submit" id="auth_submit" />
    </form>
  </body>
</html>
